# Environment variables for Elsticsearch Embeddings

# Project namespace (defaults to the current folder name if not set)
COMPOSE_PROJECT_NAME=elasticsearch-embeddings

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=

# Version of Elastic products. Update as Elasticsearch stable versions are released.
STACK_VERSION=8.17.3

# Set the Elasticsearch cluster name. The default name is elasticsearch, but you should change it to an appropriate name that describes the purpose of the cluster.
CLUSTER_NAME=elasticsearch-embeddings

# Set to 'basic' or 'trial' to automatically start the 30-day trial. Read about this setting here: https://www.elastic.co/guide/en/elasticsearch/reference/current/license-settings.html
LICENSE=basic

# Port to expose Elasticsearch HTTP API to the host. 9200 is the default port Elasticsearch uses.
ES_PORT=9200

# Elasticsearch API key.
ES_API_KEY=

# Elasticsearch Index name.
ES_INDEX=

# Port to expose Kibana to the host.
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=4000000000 #Elasticsearch memory limit
KB_MEM_LIMIT=1073741824 #Kubernetes memory limit

# Predefined Key only to be used in POC environments.
ENCRYPTION_KEY=

# Crawler version.
CRAWLER_VERSION=0.2.2

# OpenAI API Key. This is a key for using the OpenAI Embeddings API. You need to provide one, or use a different semantic text embeddings model.
OPENAI_API_KEY=
