### Environment variables for Elasticsearch Embeddings ###

## Docker Environment Variables ##
# Docker Compose project namespace (defaults to the current folder name if not set)
COMPOSE_PROJECT_NAME=elasticsearch-embeddings

# Version of Elastic products. This determines what image tags are used for Elasticsearch and Kibana.
STACK_VERSION=8.17.3

# Crawler version.
CRAWLER_VERSION=0.2.2

## Elasticsearch Environment Variables ##
# Set the Elasticsearch cluster name. The default name is elasticsearch, but you should change it to an appropriate name that describes the purpose of the cluster.
CLUSTER_NAME=elasticsearch

# Set to 'basic' or 'trial' to automatically start the 30-day trial. Read about this setting here: https://www.elastic.co/guide/en/elasticsearch/reference/current/license-settings.html
LICENSE=basic

# Elasticsearch port to expose to the host.
ES_PORT=9200

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=

# Elasticsearch API key used by the Crawler and NextJS. You will need to generate this after initial setup. See the Quick Start in the readme.
# ES_API_KEY=

# Elasticsearch maximum memory (in bytes)
ES_MEM_LIMIT=4000000000

# Elasticsearch Index name. This is the index that is created during the Quick Start instructions in the readme.
ES_INDEX=site-index

## Kibana ##

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=

# Kibana maximum memory (in bytes)
KB_MEM_LIMIT=1073741824

# This is the Kibana xpack encryption key. Use at least 32 characters. See https://www.elastic.co/guide/en/kibana/current/kibana-encryption-keys.html
ENCRYPTION_KEY=

# Port to expose Kibana to the host.
KIBANA_PORT=5601

## OpenAI ##

# Your OpenAI API Key.
OPENAI_API_KEY=
